{% extends "base.html.twig "%}

{% block topo %}
   
   <div class="topo">
       <img src="{{ asset('img/logoipsum-logo-8.svg')}}">
   </div> 

{% endblock %}

{% block stylesheets %}
  
  <link rel="stylesheet" href="{{ asset('css/style.css')}}">

{% endblock  %}

{% block title %}Cadastro de usu치rios{% endblock %}

{# formul치rio de cadastro de usu치rios #}
{% block body %}
    <p class="error">Oops ! Falha ao cadastro o usu치rio: <strong> {{ fulano }}</strong> </p>
{% endblock %}


