{% extends "base.html.twig "%}

{% block topo %}
   
   <div class="topo">
       <img src="{{ asset('img/logoipsum-logo-8.svg')}}">
   </div> 

{% endblock %}

{% block stylesheets %}
  
  <link rel="stylesheet" href="{{ asset('css/style.css')}}">

{% endblock  %}

{% block title %}Cadastro de usuários{% endblock %}

{# formulário de cadastro de usuários #}
{% block body %}
    
    <form method="POST" action="{{ url('web_usuario_salvar') }}">
      <br/>
      <input type="text" name="nome" placeholder="Nome" />
      <input type="email" name="email" placeholder="E-mail" />

      <button type="submit">Salvar</button>

    </form>
{% endblock %}


